body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #faeef7;
}

html {
    scroll-behavior: smooth;
}
/* Navegador*/
.navegador {
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente */
    padding: 0 20px; /* Opcional: Espaciado a los lados del navegador */
    background: linear-gradient(90deg, #855D78, #BBA5BB, #855D78);
    margin: 0;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
    background-color: #f3b4e3;
    box-sizing: border-box;
    
}

.header {
    padding-top: 30px; /* Ajusta este valor según la altura de la navbar */
}

.logo{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 20px ;
    transition: color 0.3s ease;
  
}

.logo a{
    text-decoration: none;
    color: inherit;
}

.logo:hover{
    color: #e795d3
    
}

.logo-gif{
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
}

.links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0; /* Elimina el margen predeterminado del <ul> */
    padding: 0; /* Elimina el padding predeterminado del <ul> */
}

.links li {
    list-style-type: none;
    margin: 0 15px;
}

.links li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0; /* Ajusta según el espacio que desees alrededor del texto */
    transition: color 0.3s ease;
}

.links a:hover{
    color: #52393d;
}
/* Header*/

.container_header{
    position: relative;
    background-image: url(assets/1333023.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    mask-image: linear-gradient(black 80%, transparent);
    overflow: hidden;
}



.container_header--text{
    color: #fef2ff;
    position: absolute;
   bottom: 9vh;
   left: 7vh;
   -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: #B089B6;
  text-shadow: 4px 1px 3px rgba(96, 75, 99, 0.87);

  font-weight: 700;
  font-size: 95px;
    text-align: center;
    
}
/*leyenda section*/
.leyenda-content{
    
    display: flex;
    justify-content: center;
    
}
.leyenda-text{
    margin-top: 70px;
display: flex;
flex-direction: column;
align-items: center;
font-size: 20px;
margin-bottom: 25px;
}

.leyenda-text h2{
    color: #5B3B43;
    text-shadow: 4px 2px 5px rgba(146,130,96,0.51);
}

.leyenda-text p{
    color: #AA757C;
    text-shadow: 4px 2px 5px rgba(146,130,96,0.51);
}

.miku-gif{
    height: 140px;
    box-shadow: 3px 3px 15px 5px rgba(170,49,162,0.3);
-webkit-box-shadow: 3px 3px 15px 5px rgba(170,49,162,0.3);
-moz-box-shadow: 3px 3px 15px 5px rgba(170,49,162,0.3);
}
/* Section sobre mi*/
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 70px;    
}
 .hero-content{
    display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #FAEEF0;
  height: 400px;
  width: 700px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 6px 13px -3px #5B3B43;
 }
.hero-content p{
    color: #AA757C;
    text-shadow: 4px 2px 5px rgba(146,130,96,0.51);
}

 .hero-content2{
    display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #FAEEF0;
  height: 58rem;
  width: 1200px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 6px 13px -3px #5B3B43;
 }

 .hero-content2 h3{
    color: #5B3B43;
 }
 .hero-content2 p{
    color: #5B3B43;
 }
 .inicio-img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 3px solid #fff6ff;
    outline: none;
 }

 .importante-texto{
    color: #5B3B43;
    font-weight: 700;
 }

 .cta-button{
    text-decoration: none;
    color: #fff;
    background-color: #8C7D85;
    padding: 9px;
    border-radius: 5px;
 }

 .cta-button:hover{

    background-color: #AA757C;
  
 }
 
 .terminoYcondicion_moño{
    height: 50px;
    width: 50px;
    outline: none;
    filter: drop-shadow(1px 1px 2px #555);
 }
/*Precios*/

.precios-grid h2{
    text-align: center;
    color: #AA757C;
    text-shadow: 4px 2px 5px rgba(146,130,96,0.51);
    margin: 70px auto;
}
.precios-grid_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
}

.card-precios{
    position: relative;
    background-color: #FAEEF0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3.5px 6px #5B3B43;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.card-precios:hover{
    transform: translateY(-10px);
}

.card-image-precios img{
    width: 100%;
    border-radius: 10px;
}

.card-content_precios{
    position: relative;
    background-color: #FAEEF0;
    padding: 20px;
    text-align: center;
    z-index: 2;
    width: 100%;
}
.card-content_precios h3{
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #AA757C;
}
.card-content_precios p {
    font-size: 1em;
    color: #CB9FA5;
    text-shadow: 0 1px 3px #9282607e;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #9282607e;
}
 /* Portfolio*/

 .portfolio-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .portfolio-grid{
    
    columns: 2;
    padding: 16px 32px;
    column-gap: 32px;
 }

 .portfolio_img{
    width: auto;
    height: 550px;
    margin-bottom: 32px;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
 }

 @keyframes reveal {
    from{
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }
    to{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
 }

 @keyframes enhance-header {
    from{
        scale: .5;
    }
    to{
        scale: 1;
    }
 }

/*SLIDER*/

.portfolio-section h2{
    color: #AA757C;
    text-shadow: 4px 2px 5px rgba(146,130,96,0.51);
    
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 800px;
    perspective: 1000px;
    margin: 22rem auto;
    padding: 20px 0;
    
}

.slider-card {
    position: absolute;
    width: 500px;
    height: 600px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;

}

.slider-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active {
    transform: scale(1.2) translateX(0);
    z-index: 2;
    opacity: 1;
    box-shadow: 1px 9px 17px -6px rgba(91,59,67,.5);
    border-radius: 10px;
}

.prev, .next {
    transform: scale(0.8);
    z-index: 1;
    cursor: pointer;
}

.prev {
    transform: scale(0.8) translateX(-300px);
    cursor: pointer;
    box-shadow: -9px 4px 17px -1px rgba(91,59,67,.6);
    border-radius: 10px;
}

.next {
    transform: scale(0.8) translateX(300px);
    box-shadow: 8px 5px 17px -4px rgba(91,59,67,.6);
    border-radius: 10px;
}

.btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    border-radius: 5px;
    
}




 /*Contacto*/
 .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 20px 100px;
    margin: 10rem auto;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 6px 13px -3px #5B3B43;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px; /* Espacio entre columnas */
}

.left {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.texto-contacto {
    color: #AA757C;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
    text-shadow: 2px 2px 3px rgba(133,93,120,0.49);
}

.texto-contacto::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 50px;
    border-radius: 2px;
    color: #AA757C;
    text-shadow: 2px 2px 3px rgba(133,93,120,0.49);
    background-color: #aa757c3b;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    box-sizing: border-box;
    transition: .3s;
}

.btn-contacto{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #cb9fba;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn-contacto:hover{
    background-color: #ecadd4;
}

/*Footer*/

.footer-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.footer-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%; /* Ajusta el ancho del borde */
    height: 3px;
    background-color: #855D78;
}

.social-media{
   
    display: flex;
    gap: 40px;
    
}
.icono-vinculo-footer{
    
    text-decoration: none;
    color: inherit;
    display: block; /* Asegura que el enlace ocupe todo el espacio disponible */
    padding: 10px 0;
}

.parrafo-footer{
    
    color: #855D78;

    text-shadow: 2px 2px 3px rgba(133,93,120,0.49);
}

.icono-footer{
    font-size: 25px;
    color: #855D78;

    text-shadow: 2px 2px 3px rgba(133,93,120,0.49);
    
}